<!DOCTYPE html>
<html lang="id">

<head>
  <%- include('../template/head'); %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../template/navbar'); %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../template/sidebar'); %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <%- include('../template/content-header'); %>
            <!-- /.content-header -->

            <!-- Main content -->
            <section>
              <div class="container-fluid">
                <div class="card">
                  <h5 class="card-header">Periode Cuti Tahun : <input id="periodeTahun" type="number" min="2023"
                      max="2099" step="1" value="2023" />
                  </h5>
                  <div class="card-body">
                    <div class="card-body table-responsive p-0">
                      <figure>
                        <figcaption>Daftar pegawai mengajukan cuti</figcaption>
                        <table id="tableCuti" class="table display table-striped table-bordered">
                          <thead>
                            <tr>
                              <th style="width: 10px">#</th>
                              <th>Tgl Pengajuan</th>
                              <th>Nama pegawai</th>
                              <th>Depertemen Pegawai</th>
                              <th>Tipe cuti</th>
                              <th>Tanggal cuti</th>
                              <th>Jumlah cuti</th>
                              <th>Sisa Cuti</th>
                              <th>Alasan cuti</th>
                              <th>Tanggal Disetujui</th>
                              <th>Disetujui oleh</th>
                              <th>Depertemen Atasan</th>
                              <th>Catatan Atasan</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer"></footer>
  </div>
  <!-- ./wrapper -->
  <%- include('../modal/modalTemplate'); %>
    <%- include('../template/footer'); %>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
      <script src="/asset/js/src/admin/admincuti_1.min.js"></script>
</body>

</html>