<!DOCTYPE html>
<html lang="id">

<head>
  <%- include('template/head'); %>
    
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Navbar -->
    <%- include('template/navbar'); %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('template/sidebar'); %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <%- include('template/content-header'); %>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <!-- Horizontal Form -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Akun pengguna SIMRS</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form id="simrs" enctype="multipart/form-data">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">User</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="simrs_User" name="simrs_User" disabled />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="simrs_Password" name="simrs_Password" disabled />
                        </div>
                      </div>
                      <p id="simrs_accoun">
                      </p>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                </div>
                <!-- /.card-footer -->
                </form>
              </div>
              <!-- /.card -->
            </section>
            <section class="content">
              <div class="container-fluid">
                <!-- Horizontal Form -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Akun WiFi RSUD ABDUL AZIZ</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form id="wifi" enctype="multipart/form-data">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">User</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="wifi_User" name="wifi_User" disabled />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="wifi_Password" name="wifi_Password" disabled />
                        </div>
                      </div>
                      <p id="wifi_accoun">
                      </p>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                </div>
                <!-- /.card-footer -->
                </form>
              </div>
              <!-- /.card -->
            </section>
        </div>
        <!-- /.container-fluid -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  </footer>

  </div>
  <!-- ./wrapper -->

  <%- include('template/footer'); %>
    <script src="/asset/js/simrs.js"></script>
    <script src="/asset/js/wifi.js"></script>
</body>

</html>