<!DOCTYPE html>
<html lang="id">

<head>
  <%- include('template/head'); %>
  <meta name="description" content="Produktivitas kerja Kepegawaian RSUD dr. Abdul Aziz Singkawang">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('template/navbar'); %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('template/sidebar'); %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <%- include('template/content-header'); %>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Produktivitas kerja</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form id="Progress" class="form-horizontal">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="InputTanggal">Tanggal</label>
                        <input type="date" class="form-control" id="Tanggal" value="<%= datenow %>" required />
                      </div>
                      <div class="form-group">
                        <label for="InputActivities">Rincian Kegiatan Kerja/Tugas</label>

                        <textarea class="form-control" rows="3" id="InputActivities"
                          placeholder="contoh 'Hand Over pasien' " required autocomplete="on"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="InputVolume">Volume Aktivitas</label>
                        <input type="number" class="form-control" id="InputVolume" placeholder="Banyak aktivitas"
                          required />
                      </div>
                      <div class="form-group">
                        <label for="Unit">Satuan Kegiatan</label>
                        <select class="custom-select form-control" id="Unit">
                          <option value="-">-</option>
                          <option value="Dokumen">Dokumen</option>
                          <option value="Laporan">Laporan</option>
                          <option value="Kegiatan">Kegiatan</option>
                          <option value="Pasien">Pasien</option>
                          <option value="Resep">Resep</option>
                          <option value="Tindakan">Tindakan</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="InputCompletion">Waktu penyelesaian</label>
                        <div class="input-group mb-3">
                          <input type="number" class="form-control" id="InputCompletion"
                            placeholder="Total waktu penyelesaian kerja" required />
                          <div class="input-group-append">
                            <span class="input-group-text"> Menit</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Simpan</button>
                      <button type="button" class="btn btn-info float-right" style="margin-right: 5px"
                        onclick="lihat()">
                        <i class="fa-solid fa-note-sticky"></i> Lihat Template
                      </button>
                      <button type="button" class="btn btn-success float-right" style="margin-right: 5px"
                        onclick="simpan()">
                        <i class="fa-solid fa-file-circle-plus"></i> Simpan Template
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer"></footer>
  </div>
  <!-- ./wrapper -->
  <%- include('modal/modalTemplate'); %> <%- include('template/footer'); %>
      <script src="/asset/js/src/daily.min.js"></script>
      <script src="/asset/js/src/template.min.js"></script>
</body>

</html>