<%- include('admin/head'); %>
<%- include('admin/header'); %>
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Work productivity</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="Progress" class="form-horizontal">
          <div class="card-body">
            <div class="form-group">
              <label for="InputTanggal">Tanggal</label>
              <input type="date" class="form-control" id="Tanggal" value='<%= datenow %>' required>
            </div>
            <div class="form-group">
              <label for="InputActivities">Details Of Work Activities/Duty</label>
              
              <textarea class="form-control" rows="3" id="InputActivities" placeholder="Activities ..." required autocomplete="on"></textarea>
            </div>
            <div class="form-group">
              <label for="InputVolume">Activity Volume</label>
              <input type="number" class="form-control" id="InputVolume" placeholder="Number unit" required>
            </div>
            <div class="form-group">
                <label for="Unit">Activity Unit</label>
                <select class="custom-select form-control" id="Unit">
                  <option value="-">-</option>
                  <option value="Dokumen">Dokumen</option>
                  <option value="Laporan">Laporan</option>
                  <option value="Laporan">Kegiatan</option>
                </select>
              </div>
            <div class="form-group">
              <label for="InputCompletion">Completion Time</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" id="InputCompletion" placeholder="Minutes" required>
                <div class="input-group-append">
                  <span class="input-group-text">Minutes</span>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
</div>
<%- include('admin/script'); %>
<script src="/asset/js/daily.js"></script>
<%- include('admin/footer'); %>