<!DOCTYPE html>
<html lang="id">
<head>
 
  <%- include('template/head'); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <%- include('template/navbar'); %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include('template/sidebar'); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%- include('template/content-header'); %>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
       <!-- /.card -->
       <div class="card">
        <div class="card-header">
          <h3 class="card-title">Laporan Produktivitas Kinerja Karyawan</h3>
          <br />
          <hr />
          <div class="form-group">
            <input type="month" class="form-control" id="InputTanggal" name="start" min="2023-03" value="<%= date %>" />
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-bordered table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Tanggal</th>
                <th>Rincian Kegiatan Kerja/Tugas</th>
                <th>Volume</th>
                <th>Satuan</th>
                <th>Waktu penyelesaian</th>
                <th style="width: 40px">Sunting</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <hr />
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              Pencapaian Kinerja Bulanan
            </div>
            <div class="col-sm-5">
              Menit<span id="capaian" class="float-left">0</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Kategori
            </div>
            <div class="col-sm-5">
              <span id="kategori" class="float-left">-</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Tambahan Penghasilan Pegawai
            </div>
            <div class="col-sm-5">
              <span id="tpp" class="float-left">-</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-print">
        <div class="col-12">
          <button type="button" class="btn btn-success float-right" onclick="submit()">
            <i class="fa-regular fa-paper-plane"></i> Kirim
          </button>
          <button type="button" class="btn btn-primary float-right" style="margin-right: 5px" onclick="cetak()">
            <i class="fas fa-print"></i> Mencetak
          </button>
        </div>
      </div>
      <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">

  </footer>

</div>
<!-- ./wrapper -->
<%- include('modal/modalMonthly'); %>
<%- include('template/footer'); %>
<script src="/asset/js/monthly.js"></script>
</body>
</html>