<!DOCTYPE html>
<html lang="id">

<head>
  <%- include('template/head'); %>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Navbar -->
    <%- include('template/navbar'); %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('template/sidebar'); %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <%- include('template/content-header'); %>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <!-- Horizontal Form -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Profil saya</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form id="profil" class="form-horizontal">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">NIK</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" id="nik" name="nik" value='<%= user.nik %>'
                            disabled />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">NIP</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" id="nip" name="nip"
                            placeholder="Nomor Identitas Pegawai" value='<%= user.nip %>' />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Nama lengkap</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="nama" name="nama"
                            placeholder="Nama lengkap dengan gelar" value='<%= user.nama %>' />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="departemen" class="col-sm-2 col-form-label">Unit Kerja</label>
                        <div class="col-sm-10">
                          <select class="form-control select2" id="departemen">
                            <option selected="selected" value='<%= user.dep%>'>
                              <%= user.departemen.bidang%>
                            </option>
                            <% for(let i=0; i<departemen.length; i++) { %>
                              <option value='<%= departemen[i].id %>'>
                                <%= departemen[i].bidang %>
                              </option>
                              <% } %>

                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="jab" class="col-sm-2 col-form-label">Tanggal lahir</label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" id="tgl_lahir" name="tgl_lahir"
                            placeholder="Tanggal lahir" value='<%= user.tgl_lahir %>' />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="jab" class="col-sm-2 col-form-label">Jabatan</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="jab" name="jab" placeholder="Jabatan"
                            value='<%= user.jab %>' />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Atasan langsung</label>
                        <div class="col-sm-10">
                          <select class="form-control select2" id="atasan">
                            <option selected="selected" value=<%=bos%>><%= bos%>
                            </option>
                            <% for(let i=0; i<atasan.length; i++) { %>
                              <option value='<%= atasan[i].nik %>'>
                                <%= atasan[i].nama %> - <%= atasan[i].jab %>
                              </option>
                              <% } %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary float-right">
                        Simpan
                      </button>
                    </div>
                    <!-- /.card-footer -->
                  </form>
                </div>
                <!-- /.card -->
              </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <!-- Horizontal Form -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Biodata saya</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form id="biodata" class="form-horizontal">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Alamat</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="alamat" name="alamat" required />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Pangkat</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="pangkat" name="pangkat" placeholder="contoh Golongan IIIa "
                            </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="marital" class="col-sm-2 col-form-label">Status Pernikahan</label>
                        <div class="col-sm-10">
                          <select class="form-control " id="marital" required>
                            <option value="" disabled selected="selected">Pilih status</option>
                            <option value='Belum kawin'> belum kawin</option>
                            <option value='kawin'>kawin</option>
                            <option value='Cerai hidup'>Cerai hidup</option>
                            <option value='Cerai mati'>Cerai mati</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="golongan_darah" class="col-sm-2 col-form-label">Golongan Darah</label>
                        <div class="col-sm-10">
                          <select class="form-control  select2-danger" data-dropdown-css-class="select2-danger" id="golongan_darah">
                            <option value="" disabled selected="selected">Pilih Golongan Darah</option>
                            <option value='A'>A</option>
                            <option value='B'>B</option>
                            <option value='AB'>AB </option>
                            <option value='O'>O</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="jns_kerja" class="col-sm-2 col-form-label">Status Kerja</label>
                        <div class="col-sm-10">
                          <select class="form-control  " style="width:100%;" id="jns_kerja" required>
                            <option value="" disabled selected="selected">Pilih status</option>
                            <option value='5 Hari kerja'>5 Hari kerja</option>
                            <option value='6 Hari kerja'>6 Hari kerja</option>
                            <option value='6 Hari kerja shifting'>6 Hari kerja shifting</option>
                          </select>
                        </div>
                      </div>
                      </div>
                      <!-- /.card-body -->
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right">
                          Simpan
                        </button>
                      </div>
                      <!-- /.card-footer -->
                      </form>
                      </div>
                      <!-- /.card -->
                      </div><!-- /.container-fluid -->
                      </section>
                      <!-- /.content -->
                      <!-- Main content -->
                      <section class="content">
                        <div class="container-fluid">
                          <!-- Horizontal Form -->
                          <div class="card card-info">
                            <div class="card-header">
                              <h3 class="card-title">Foto Profile</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form id="profilePicForm" enctype="multipart/form-data">
                              <div class="card-body">
                                <div class="row justify-content-center">
                                  <div class="col-md-6">
                                    <div class="m-3">
                                      <div class="center-image" style="height: 200px;">
                                        <img src="https://via.placeholder.com/150" class="card-img preview-image" id="preview"
                                          alt="Preview Foto">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputEmail3" class="col-sm-2 col-form-label">Pilih Foto Profil</label>
                                  <div class="col-sm-10">
                                    <input type="file" class="form-control" id="profilePic" accept="image/*" required>
                                  </div>
                                </div>
                              </div>
                              <!-- /.card-body -->
                              <div class="card-footer">
                                <button type="submit" class="btn btn-primary float-right">
                                  Simpan
                                </button>
                              </div>
                              <!-- /.card-footer -->
                            </form>
                          </div>
                          <!-- /.card -->
                        </div><!-- /.container-fluid -->
                      </section>
                      <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
        </footer>

  </div>
  <!-- ./wrapper -->

  <%- include('template/footer'); %>
    <script src="/asset/js/profil.js"></script>
    <script src="/asset/js/biodata.js"></script>
</body>

</html>