<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/asset/css/report1.css" />
    <script type="text/javascript" src="/asset/js/lib/qrcode.min.js"></script>
    <script
      type="text/javascript"
      src="/asset/js/lib/qr-code-styling.js"
    ></script>
  </head>

  <body>
    <div class="page">
      <div class="text-center fw-bold">LAPORAN PRODUKTIVITAS KINERJA PEGAWAI</div>
      <br />
      <table class="header">
        <tr>
          <th>NAMA</th>
          <td><span>: </span><span> <%= user.nama %> </span></td>
        </tr>
        <tr>
          <th>NIP</th>
          <td><span>: </span><span> <%= user.nip %> </span></td>
        </tr>
        <tr>
          <th>JABATAN</th>
          <td><span>: </span><span> <%= user.jab %> </span></td>
        </tr>
        <tr>
          <th>UNIT KERJA</th>
          <td><span>: </span><span> <%= user.departemen.bidang %> </span></td>
        </tr>
        <tr>
          <th>PERIODE</th>
          <td><span>: </span> <span> <%= periode %> </span></td>
        </tr>
      </table>

      <table>
        <thead>
          <tr>
            <th>NO</th>
            <th>HARI / TANGGAL</th>
            <th>RINCIAN AKTIVITAS KERJA/TUGAS</th>
            <th>VOLUME KEGIATAN</th>
            <th>SATUAN KEGIATAN</th>
            <th>WAKTU PENYELESAIAN</th>
          </tr>
        </thead>
        <tbody>
          <% progress.forEach(item=> { %>
          <tr>
            <td><%= item.no %></td>
            <td><%= item.tanggal %></td>
            <td><%= item.rak %></td>
            <td><%= item.volume %></td>
            <td><%= item.satuan %></td>
            <td class="text-end">
              <span style="float: left"> <%= item.waktu %> </span> Menit
            </td>
          </tr>
          <% }); %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">Capaian Kinerja</th>
            <td><span> <%= capaian %> </span></td>
          </tr>
          <tr>
            <th colspan="5">Kategori</th>
            <td><span> <%= kategori %> </span></td>
          </tr>
          <tr>
            <th colspan="5">Besaran TPP dari Produktivitas Kerja</th>
            <td><span> <%= tpp %> </span></td>
          </tr>
        </tfoot>
      </table>
      <br />
      <table class="foots">
        <tr>
          <th>
            <br />
            Mengetahui
            <br />
            Atasan Langsung,
          </th>
          <th>
            <div class="date">Singkawang, <span> <%= lastDate %> </span></div>
            <br />
            Yang Membuat Laporan,
          </th>
        </tr>
        <tr>
          <td>
            <div class="signature">
              <br />
              <div id="qrcodeAtasan"></div>
              <div class="name fw-bold" id="nameAtasan"><span> <%= atasan.nama %> </span></div>
              <div class="nip" id="nipAtasan">
                <span>NIP. </span>
                <%= atasan.nip %>
              </div>
            </div>
          </td>
          <td>
            <div class="signature">
              <br />
              <div
                id="qrcodeUser"
                style="text-align: center; margin: 0 auto"
              ></div>
              <br />
              <div class="name fw-bold"><%= user.nama %></div>
              <div class="nip">
                <span>NIP. </span>
                <%= user.nip %>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- Jquery -->
    <script src="/asset/js/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/asset/js/report/resulte.js"></script>
  </body>
</html>
