<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('../template/head'); %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('../template/navbar'); %>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <%- include('../template/sidebar'); %>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <%- include('../template/content-header'); %>
                        <!-- /.content-header -->

                        <!-- Main content -->
                        <section class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Identias Pasein</h3>

                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="noReg">No Registrasi</label>
                                                    <input type="text" class="form-control" id="no_rawat"
                                                        placeholder="no reg" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="nm_px">Pasien</label>
                                                    <input type="text" class="form-control" id="nm_px"
                                                        placeholder="Nama Pasein" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="tgl_lahir">Tgl Lahir</label>
                                                    <input type="date" class="form-control" id="tgl_lahir" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="no_rm">No Rekam Medis</label>
                                                    <input type="text" class="form-control" id="no_rm"
                                                        placeholder="No RM" disabled>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                        <section class="content">
                            <!-- /.container-fluid -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Pemerikasaan</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="Subjective"
                                                                class="form-label">Subjective</label>
                                                            <textarea class="form-control" id="Subjective"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="Assessment"
                                                                class="form-label">Assessment</label>
                                                            <textarea class="form-control" id="Assessment"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="Planning" class="form-label">Planning</label>
                                                            <textarea class="form-control" id="Planning"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="Instructions"
                                                                class="form-label">Instructions</label>
                                                            <textarea class="form-control" id="Instructions"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="suhu" class="form-label">suhu</label>
                                                            <input type="text" class="form-control" id="suhu"
                                                                placeholder="suhu">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="tensi" class="form-label">tensi</label>
                                                            <input type="text" class="form-control" id="tensi"
                                                                placeholder="tensi">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="spo2" class="form-label">SpO2 (%)</label>
                                                            <input type="text" class="form-control" id="spo2"
                                                                placeholder="spo2">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="tb" class="form-label">TB (cm)</label>
                                                            <input type="text" class="form-control" id="tb"
                                                                placeholder="tb">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="bb" class="form-label">BB (KG)</label>
                                                            <input type="text" class="form-control" id="bb"
                                                                placeholder="bb">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="gcs" class="form-label">CGS (E,V,M)</label>
                                                            <input type="text" class="form-control" id="gcs" placeholder="gcs">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="tb" class="form-label">Respirasi
                                                                (/menit)</label>
                                                            <input type="text" class="form-control" id="tb"
                                                                placeholder="tb">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="bb" class="form-label">Nadi (/menit)</label>
                                                            <input type="text" class="form-control" id="bb"
                                                                placeholder="bb">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="cgs" class="form-label">Kesadaran</label>
                                                            <select class="form-select" id="Kesadaran">
                                                                <option selected value="Compos Mentis">Compos Mentis
                                                                </option>
                                                                <option value="Somnolence">Somnolence</option>
                                                                <option value="Sopor">Sopor</option>
                                                                <option value="Coma">Coma</option>
                                                                <option value="Alert">Alert</option>
                                                                <option value="Confusion">Confusion</option>
                                                                <option value="Voice">Voice</option>
                                                                <option value="Pain">Pain</option>
                                                                <option value="Unresponsive">Unresponsive</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="tb" class="form-label">LP (cm)</label>
                                                            <input type="text" class="form-control" id="tb"
                                                                placeholder="tb">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="form-group">
                                                            <label for="alergi" class="form-label">alergi</label>
                                                            <input type="text" class="form-control" id="alergi"
                                                                placeholder="alergi">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <!-- tombol simpan -->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="button" class="btn btn-primary" id="btnSimpan">Simpan</button>
                                                    </div>
                                                </div>
                                                </div>
                                                </div>
                                                <!-- /.card-body -->
                                                </div>
                                                <!-- /.card -->
                                                </div>
                                                </div>
                                                </section>
                                                <section class="content">
                                                    <!-- /.container-fluid -->
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card card-primary">
                                                                    <div class="card-header">
                                                                        <h3 class="card-title">Riwayat Soap</h3>
                                                                        <div class="card-tools">
                                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                                <i class="fas fa-minus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-body" id="rtt">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                    </div>
                                                    </div>
                                                    </div>
                                                </section>
                </div>
                </section>

                <!-- /.content -->
    </div>
    </div>

    <!-- /.content-wrapper -->
    <footer class="main-footer">

    </footer>


    </div>
    <!-- ./wrapper -->

    <%- include('../template/footer'); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        
        <script src="/asset/js/module/helper.js"></script>
        <script src="/asset/js/simrs/petugas/tindakanigd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>